<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfL4uMgJFYigb8cI1RT7K4ycTMgowXCjk&sensor=true">
  </script>
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  
</head>
<body>
<%= yield %>

</body>
</html>
